.mainContainer{
    margin-top: 5%;
    background-color: #141232;
    padding: 5%;
    display: flex;
}
.leftContainer{
    width: 20%;
}
.logoImage{
    width: 100%;
}
.textContainer{
    margin-top: 5%;
    color: white;
}
